<div class="ink-grid" id="navbar">
  <div class="column-group horizontal-gutters">
    <div class="all-30 tiny-order-3 small-order-2 medium-order-1 large-1 xlarge-order-3">
      <div class="column">
          <select [(ngModel)]="selectedValue" >
            <option *ngFor="let category of values()" [value]="category">{{ category }}</option>
          </select>
        <nav class="ink-navigation">
          <ul class="dropdown">
            <li><a routerLink="/addrecipe">Add Recipe</a></li>
            <home [childCategory]="selectedValue"></home>
          </ul>
        </nav>
      </div>
    </div>
    <div class="all-70 tiny-order-1 small-order-3 medium-order-3 large-2 xlarge-order-1">
      <div class="column">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>